*{
    margin: 0;
    padding: 0;
    outline: 0;
    

}

.heading{
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    padding-top: 25px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
   
}


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #585858, 0 0 20px #585858, 0 0 20px #585858, 0 0 20px #585858, 0 0 20px #585858;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 20px #cecece, 0 0 20px #cecece, 0 0 50px #cecece, 0 0 20px #cecece, 0 0 20px #cecece, 0 0 20px #cecece;
    }
  }

.calc_body{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;

}

.result{
    background-color: #212121 ;
    color: #fafafa;
    border-radius: 8px 8px 0 0 ;
    font-size: 2.5rem;
    padding: 20px;

}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.buttons button{
    padding: 30px;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    transition: .4s all linear;
}

.buttons button:hover{
    background-color: #e0e0e0;

}

.buttons button:active{
    background-color: #bdbdbd;
}

.equal{
    background-color: #f57f17;

}

